:root{
    --color-shadow: rgba(0,0,0,0.5);
    --color-black: #000000;
    --color-blue-tras: rgba(37,105,159,0.5);
    --color-letter: #00EBFD;
    --color-back-content: rgba(69,155,203,0.5);
    --footer-color: #192E37;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Oxanium', cursive;;
}
a{
    text-decoration: none;  
}
body{
    background-color: #332a2a;
}
header{
    position: absolute;
    height: 70px;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-blue-tras);
    box-shadow: 0 0 5px var(--color-black);
}
header:hover{
    height: 100px;
}
nav{
    height: 70px;
}
.content-ul{
    display: flex;
}
.content-ul > li:nth-child(1){
    border-left: solid var(--color-black) 5px;
}
li:nth-child(5){
    border-right: solid var(--color-black) 5px;
}
li{
    width: 150px;
    height: 70px;
    list-style: none;
    text-align: center;
    border-right: solid var(--color-black) 3px;
    border-left: solid var(--color-black) 3px;
}
.nav-a:hover{
    border-bottom: solid #000000 5px;
    border-radius: 10px;
}
.nav-a{
    font-size: 20px;
    font-weight: 400;
    display: block;
    margin-top: 25px;
    color: var(--color-letter);
}
.sub-nav__content:hover .content-float__skill{
    visibility: visible;
}
.content-float__skill{
    border: none;
    visibility: hidden;
    position: absolute;
    top: 85px;
    height: 150px;
    width: 160px;
    background-color: var(--color-back-content);
    display: grid;
    grid-template-rows: 1fr 1fr;
    border-radius: 15px;
}
.content-float__skill li a{
    color: var(--color-letter);
    font-size: 15px;
    border-bottom: solid 5px var(--color-black);
    border-left: solid 5px var(--color-black);
    border-bottom-left-radius: 10px;
    text-align: start;
    padding-left: 5px;
}
.content-float__up, .content-float__down{
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 5px;
}

.imgMain{
    height: 50vh;
    width: 100%;
    background-image: url(/img/img-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.line-bar{
    background-color: var(--color-black);
    height: 15px;
    width: 100%;
}
.contentMain{
    height: 500px;
    position: relative;
    background-image: url(/img/img-backgound-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1 ,h2 {
    color: var(--color-letter);
    margin-left: 30px;
}
h1{
    padding-top: 80px;
    font-size: 36px;
}
h2{
    padding-top: 22px;
    font-size: 48px;
}
.socialNetworks{
    height: 80px;
    width: 275px;
    background-color: var(--color-letter);
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border-bottom-left-radius: 25px;
}
.socialNetworks:hover{
    height: 85px;
    width: 280px;
}
.socialNetworks img{
    height: 50px;
    width: 50px;
}
.socialNetworks img:hover{
    width: 52px;
    height: 52px;
}
.socialNetworks-p{
    position: absolute;
    right: 280px;
    top: 30px;
}
